
@{
    ViewBag.Title = "PersonalInfo";
}
@model portfolio.Models.PersonalInfo

@{
    ViewBag.Title = "Personal Information";
}

<h2>Personal Information</h2>
<p>Full Name: @Model.FullName</p>
<p>Address: @Model.Address</p>
<p>Phone Number: @Model.PhoneNumber</p>
<p>Email: @Model.Email</p>
<p>LinkedIn Profile: @Model.LinkedInProfile</p>
<p>GitHub Profile: @Model.GitHubProfile</p>

<h3>Summary:</h3>
<p>@Model.Summary</p>
